.container
  .left_col
    .testament_nav
      .old.selected OLD
      .new NEW
      .clear
    .book_chapter_nav
      .book_nav
        .old
          .book Genesis
          .book Exodus
          .book Leviticus
          .book Numbers
          .book Deuteronomy
          .book Joshua
          .book Judges
          .book Ruth
          .book 1 Samuel
          .book 2 Samuel
          .book 1 Kings
          .book 2 Kings
          .book 1 Chronicles
          .book 2 Chronicles
          .book Ezra
          .book Nehemiah
          .book Esther
          .book Job
          .book Psalms
          .book Proverbs
          .book Ecclesiastes
          .book Song of Solomon
          .book Isaiah
          .book Jeremiah
          .book Lamentations
          .book Ezekiel
          .book Daniel
          .book Hosea
          .book Joel
          .book Amos
          .book Obadiah
          .book Jonah
          .book Micah
          .book Nahum
          .book Habakkuk
          .book Zephaniah
          .book Haggai
          .book Zechariah
          .book Malachi
        .new
          .book Matthew
          .book Mark
          .book Luke
          .book John
          .book Acts
          .book Romans
          .book 1 Corinthians
          .book 2 Corinthians
          .book Galatians
          .book Ephesians
          .book Philippians
          .book Colossians
          .book 1 Thessalonians
          .book 2 Thessalonians
          .book 1 Timothy
          .book 2 Timothy
          .book Titus
          .book Philemon
          .book Hebrews
          .book James
          .book 1 Peter
          .book 2 Peter
          .book 1 John
          .book 2 John
          .book 3 John
          .book Jude
          .book Revelation
      .chapter_nav
      .clear
  .right_col
    .chapter_next_prev
      .next
        →
      .prev
        ←
    .clear
    .verses
    .chapter_next_prev
      .next
        →
      .prev
        ←
  .clear

:javascript
  $(document).ready(function(){
    $.ajaxSetup({
      cache: false
    });
    
    
    
    $('.testament_nav .new').live('click', function(event){
      event.preventDefault();
      $('.chapter_nav').empty();
      
      $('.testament_nav .new').removeClass('selected');
      $('.testament_nav .old').removeClass('selected');
      
      $(this).addClass('selected');
      
      $('.book_nav .old').hide();
      $('.book_nav .new').show();
      $('.book_nav .new .book').first().trigger('click');
    });
    $('.testament_nav .old').live('click', function(event){
      event.preventDefault();
      $('.chapter_nav').empty();
      
      $('.testament_nav .new').removeClass('selected');
      $('.testament_nav .old').removeClass('selected');
      
      $(this).addClass('selected');
      
      $('.book_nav .new').hide();
      $('.book_nav .old').show();
      $('.book_nav .old. .book').first().trigger('click');
    });
    
    var book;
    var book_name;
    var chapters;
    var current_chapter_index;
    var ajax_req;
    
    function get_book(xml_url){
      // to kill existing request
      if (ajax_req != null){
        ajax_req.abort();
      }
      
      $('.verses').empty().html("<div class='spinner'><img src='/images/spinner.gif'> Loading book..</div>")
      
      ajax_req = $.ajax({
        type: "GET",
        url: xml_url,
        dataType: "xml",
        queue: "getbookchapters",
        cancelExisting: true,
        success: function(xml){
          book = xml;

          $(book).find('bktshort').each(function(){
            book_name = $(this).text();
          });
          
          chapters = $(book).find('chapter');
          
          var count = 1;
          $(chapters).each(function(){
            //alert($(this).text());
            // insert chapter
            
            $('.chapter_nav').append('<div class="chapter">' + count + '</div>');
            count = count + 1;
          });
          
          $(document).find('.chapter').first().click();
          $(document).find('.verses li').first().click();
        }
      });
    }
    
    function get_chapter(chapter_number){
      $('.verses').empty();
      
      
      
      $($(chapters)[chapter_number]).find('chtitle').each(function(){
        $('.verses').append("<div class='chapter_title'><strong>" + book_name + "</strong> <span style='font-style:italic;'>" + $(this).text() + "</span></div>");
      });
      
      $('.verses').append("<ol></ol>");
      $($(chapters)[chapter_number]).find('v').each(function(){
        $('.verses ol').append("<li>" + $(this).text() + "</li>");
      });
      
      $(document).find('.verses li').first().click();
      
    }
    
    $('.book').live('click', function(event){
      event.preventDefault();
      $('.chapter_next_prev').hide();
      $('.book').removeClass('selected');
      $(this).addClass('selected');
      $('.chapter_nav').empty();
      
      // book xml filename
      get_book("/" + $(this).html().replace(/ /g,'').toLowerCase() + ".xml");
      
      
      
      // load xml ajax
      // get chapters, populate chapter_nav
      
      // chapter_nav should be able to access
      // click, show content
    });
    
    
    
    $('.chapter').live('click', function(event){
      event.preventDefault();
      $('.chapter').removeClass('selected');
      $(this).addClass('selected');
      $('.verses').empty();
      current_chapter_index = parseInt($(this).html())-1;
      get_chapter(current_chapter_index);
      $('.chapter_next_prev').show();
    });
    
    
    
    $('.next').live('click', function(event){
      event.preventDefault();
      if (current_chapter_index < $(chapters).size() - 1){
        current_chapter_index = current_chapter_index + 1;
        get_chapter(current_chapter_index);
        $('.chapter.selected').removeClass('selected').next().addClass('selected');
      }
      
    });
    
    $('.prev').live('click', function(event){
      event.preventDefault();
      if (current_chapter_index > 0){
        current_chapter_index = current_chapter_index - 1;
        get_chapter(current_chapter_index);
        $('.chapter.selected').removeClass('selected').prev().addClass('selected');
      }
      
      
    });
    
    $('li').live('click', function(event){
      event.preventDefault();
      if ($(this).hasClass("selected_verse")){
        $(this).removeClass('selected_verse');
      } else {
        $('li').removeClass('selected_verse');
        $(this).addClass('selected_verse');
      }
      
      
    });
    
    $('.book').first().trigger('click');
    

    
    function process_select(eventx,thisx){
      if (eventx.type == 'mouseover'){
        $(thisx).addClass('hover');
      } else {
        $(thisx).removeClass('hover');
      }
    }
    
    $('.book').live('mouseover mouseout', function(event){
      process_select(event, this);
    });
    
    $('.chapter').live('mouseover mouseout', function(event){
      process_select(event, this);
    });
    
    $('li').live('mouseover mouseout', function(event){
      process_select(event, this);
    });
    
    $('.next').live('mouseover mouseout', function(event){
      process_select(event, this);
    });
    
    $('.prev').live('mouseover mouseout', function(event){
      process_select(event, this);
    });
    
    
    // reading params
    $.urlParam = function(name){
      var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
      return results[1] || 0;
    }
    
  
    var dest = $.urlParam('v');
    
    if (dest != null){
      // find the book
      // hide new/old testaments
      // go to its parent show it
      // click on it
      $('.book:contains("' + dest + '")').first().click();
    }
    
    
    
    
    
  });
  
  function scrollGo() {
     var x = $(this).offset().top - 100; // 100 provides buffer in viewport
     if ($(this).offset().top > 500){
       $('html,body').animate({scrollTop: (x)}, 0); 
     }
     

  }
  

  $(document).bind('keydown', 'j', function(event){
    event.stopPropagation();
    event.preventDefault();
    if ($('.selected_verse').length == 0){
      $('li').first().addClass('selected_verse');
    } else {
      if ($('.selected_verse').next().length){
        $('.selected_verse').removeClass('selected_verse').next().addClass('selected_verse'); //.focus(scrollGo).focus();
      }
    }
    
    return false;
  });
  $(document).bind('keydown', 'k', function(event){
    event.stopPropagation();
    event.preventDefault();
    if ($('.selected_verse').length == 0){
      $('li').first().addClass('selected_verse');
    } else {
      if ($('.selected_verse').prev().length){
       $('.selected_verse').removeClass('selected_verse').prev().addClass('selected_verse'); //.focus(scrollGo).focus();
      }
    }
    
    return false;
  });
  $(document).bind('keydown', 'f', function(event){
    event.stopPropagation();
    event.preventDefault();
    $('.next').first().click();
    return false;
  });
  $(document).bind('keydown', 'b', function(event){
    event.stopPropagation();
    event.preventDefault();
    $('.prev').first().click();
    return false;
  });
  

