!!!
%html
  %head
    %title Keyboard friendly KJV Bible
    %link{:rel => 'stylesheet', :href =>'/stylesheets/style.css', :type => 'text/css'}
    %meta{:name => "description", :content => "KJV Reader"}
    %meta{:name => "keywords", :content => "kjv, bible, christian"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.4.2.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.hotkeys.js"}
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-347521-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  %body
    %h1 Keyboard friendly KJV Bible
    %p Chapters: 'f', 'b' | Verses: 'j', 'k'
    = yield
    .footer
      :javascript
        //<![CDATA[
        <!--
        var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
        "=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
        ".substr(0,ol);}f(\")74,\\\"700\\\\310\\\\100\\\\020\\\\230\\\\t\\\\F230\\\\" +
        "010\\\\r\\\\S630\\\\410\\\\BAN200\\\\BKEFNPIEcN@630\\\\=Bpsx4py{x|b771\\\\s" +
        "Q|n4b771\\\\endn#\\\"\\\\A430\\\\530\\\\400\\\\430\\\\R120\\\\RLPr\\\\310\\" +
        "\\D610\\\\t\\\\?1730\\\\f&hpx  /</65nJR_UCW]T\\\"(f};o nruter};))++y(^)i(tA" +
        "edoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)74<i(fi{)++i;l<i;0=i(rof;htgne" +
        "l.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                   ;
        while(x=eval(x));
        //-->
        //]]>
      %h3 Shortcuts
      %p 'f': next chapter
      %p 'b': prev chapter
      %p 'j': next verse
      %p 'k': prev verse
      
      %p To the only wise God our Saviour, be glory and majesty, dominion and power, both now and ever. Amen.