!!!
%html
  %head
    %title King James Bible Bible
    %link{:rel => 'stylesheet', :href =>'/stylesheets/style.css', :type => 'text/css'}
    %meta{:name => "description", :content => "KJV Reader"}
    %meta{:name => "keywords", :content => "kjv, bible, christian"}
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-347521-1");
        // Cookied already: 
        pageTracker._trackPageview();
      } catch(err) {}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.js"}
  %body
    %h1 King James Version Bible
    %h2 Conformable to the Edition of 1611 Commonly Known as the Authorized
    = yield