$container_width: 805px
$padding_width: 15px

body
  font-family: "Lucida Grande", "Helvetica Neue", "Helvetica"
.clear
  clear: both
.selected
  background-color: #1c5398
  color: white
  border-radius: 7px
  -moz-border-radius: 7px
.selected_verse
  background-color: #f9ffae
  -moz-border-radius: 7px
  border-radius: 7px
  color: black
.hover
  background-color: #bef4b1
  color: black
  -moz-border-radius: 5px
  border-radius: 5px

h2
  font-size: 18px

.verses
  color: #808388
  .chapter_title
    margin-left: 15px
    color: black
  li
    padding: 7px 7px 7px 7px
    line-height: 18px

.container
  width: $container_width
  .left_col
    width: $container_width * 0.25 - $padding_width
    float: left
    padding-right: $padding_width
    border-right: 1px solid #cccccc
  .right_col
    width: $container_width * 0.75
    float: left

.testament_nav
  font-size: 2em
  text-align: center
  .old
    width: 50%
    float: left
    margin-bottom: 15px
  .new
    width: 50%
    float: left
    margin-bottom: 15px

.book_chapter_nav  
  .book_nav
    float: left
    width: 80%
    .new
      display: none
  .chapter_nav
    float: left
    width: 20%
    text-align: center

.book
  padding-left: $padding_width

.chapter
  padding: 0px 5px 0px 5px

chtitle
  font-weight: bold
  font-size: 2em

.chapter_next_prev
  text-align: center
  font-size: 1em
  display: none
  .prev
    float: right
    width: 30px
  .next
    float: right
    width: 30px


ol
  list-style-type: decimal

li
  list-style: decimal