body
  font-family: Helvetica Neue
.clear
  clear: both
.selected
  background-color: #1c5398
  color: white
.selected_verse
  color: black
  background-color: #f9ffae
.hover
  background-color: #bef4b1
  color: black

!container_width = 800px
!padding_width = 15px

.container
  width = !container_width
  .left_col
    width = !container_width * 0.25 - !padding_width
    float: left
    padding-right = !padding_width
  .right_col
    width = !container_width * 0.75
    float: left

.testament_nav
  font-size: 2em
  text-align: center
  .old
    width: 50%
    float: left
  .new
    width: 50%
    float: left

.book_chapter_nav
  .book_nav
    float: left
    width: 80%
    .new
      display: none
  .chapter_nav
    float: left
    width: 20%
    text-align: center

.book
  padding-left = !padding_width

.chapter
  padding: 0px 5px 0px 5px

.verses

chtitle
  font-weight: bold
  font-size: 2em

.chapter_next_prev
  text-align: center
  font-size: 1em
  display: none
  .prev
    float: right
    width: 80px
  .next
    float: right
    width: 80px


ol
  list-style-type: decimal

li
  list-style: decimal